<tr>
  <th scope="row">
    <%= game_match.id %>
  </th>
  <td>
    <%- if n = game_match.human_you_name %>
      <%= n %>
    <%- else %>
      <em>AI</em>
    <%- end %>
  </td>

  <td>
    <%- if n = game_match.pest_you_name %>
      <%= n %>
    <%- else %>
      <em>AI</em>
    <%- end %>
  </td>

  <td>
    <%- if game_match.finished_at %>
      <%= game_match.finished_at %>
    <%- else %>
      <%= link_to '入室する', game_match %>
    <%- end %>
  </td>
</tr>
