<% def image_tag(*); ActionController::Base.helpers.image_tag(*); end %>
<script>
  document.addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
      live.forward('world', {type: 'complete'});
    }
  });
</script>

<% menu_actionable_locs = menu_action_focus ? turn.menu_actionable_actions(your_player).fetch(menu_action_focus.id, []) : [] %>
<div class="row">
  <div class="col-md-4 order-md-1 col-12 order-4">
    <p>
    <% if your_player %>
      あなたは<strong><%= your_player.japanese %></strong>としてプレイしてます
    <% else %>
      観戦モード
    <% end %>
    </p>

    <% if help_focus_loc %>
      <% if b = turn.game.world.buildings.at(help_focus_loc) %>
        <div class="container">
          <h5>建物</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <%= b.view %>
              <p>
              <%= b.description %>
              </p>
            </li>
            <li class="list-group-item">
              所有陣営: <%= b.player&.japanese || 'なし' %>
            </li>
            <% if b.hp %>
              <li class="list-group-item">
                HP: <%= b.hp %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if !your_player %>
        <!-- 観戦モードではユニットの情報は表示しない -->
      <% elsif u = turn.game.world.unitss[your_player.id].find { _1.loc == help_focus_loc } %>
        <div class="container">
          <h5>ユニット</h5>
          <ul class="list-group">
            <li class="list-group-item">
              HP:
              <strong>
              <%= u.hp %> / <%= u.max_hp(turn.game.world) %>
              </strong>
              (拠点からの移動距離:
              <%= turn.game.world.move_distance(your_player.id, turn.game.world.buildings.of(your_player.id, :base).loc, u.loc) %>)
            </li>
            <li class="list-group-item">
              1ターンそのユニットが何も行動しなければ、HPが <strong>3</strong> 回復します。
            </li>
            <li class="list-group-item">
              <small>
                最大HPは、拠点からの移動距離によって変化します。
              </small>
            </li>
          </ul>
        </div>
      <% end %>

      <% if menu_action_focus %>
        <div class="container">
          <h5>メニュー</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <p>
                <%= menu_action_focus.japanese %>
              </p>
              <p>
                <%= menu_action_focus.description %>
              </p>
            </li>
            <li class="list-group-item">
              消費する資源:
              <% menu_action_focus.cost.each do |k, amount| %>
                <%= PlayerResource.new(resource_id: k, amount: amount).view %>
              <% end %>
            </li>
            <li class="list-group-item">
              対象:
              <% case menu_action_focus.location_type
                 when :unit %>
                自陣のいずれかのユニットの位置
              <% when :base %>
                自拠点 (ただしユニットがその位置にいない場合に限る)
              <% when :bomb %>
                設置積みの爆弾
              <% else %>
                (TODO: 説明文が未実装です)
              <% end %>
            </li>
            <li class="list-group-item">
              <small>
              <p>
              右のメニューにある行動リストは、あなたの所有している資源を消費するかわりに、ユニットの行動に関わらず任意のタイミングで発動できます。
              </p>
              <p>
              対象となる位置を指定してください。
              </p>
              </small>
            </li>
          </ul>
        </div>
      <% end %>

    <% else %>
      <p>
      未行動のユニットを選択するか、メニューから行動を選択してください。
      </p>
      <ul>
        <li>ユニットの行動は、各ユニットごとに1回のみです</li>
        <li>メニューの行動は、条件を満たしていれば何度でも行えます</li>
      </ul>
      <p>
      なければターン終了ボタンを押すか、エンターキーを押してください。
      </p>
    <% end %>
  </div>

  <div class="col-md-4 col-8 order-2">
    <% if turn.game.winner %>
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 64px;">
        <%= turn.game.winner.japanese %>の勝ち

      </div>
    <% end %>
    <% if notify_turn_next %>
      <div style="position: absolute; top: 30%; left: 50%; transform: translate(-30%,-50%); font-size: 64px;">
        ターン <%= turn.num %>
      </div>
    <% end %>

    <% hexes_view.each_with_index do |hexes_y, y| %>
      <% hexes_y.each_with_index do |hex, x| %>
        <% loc = Location.new(x, y) %>
        <% building = turn.game.world.buildings.at(loc) %>
        <% background_img = building&.background_img %>
        <% padding_top = x.even? ? 64*y : 64*y + 32 %>
        <% padding_left = 48*x %>
        <div
            style="position: absolute; height: 64px; width: 64px; margin: <%= padding_top %>px <%= padding_left %>px 0px; user-select: none;"
            onclick="live.forward('world', {type: 'click', x: <%= x %>, y: <%= y %>, clientX: event.clientX, clientY: event.clientY});"
            oncontextmenu="live.forward('world', {type: 'rightclick', x: <%= x %>, y: <%= y %>, clientX: event.clientX, clientY: event.clientY}); return false;"
            >
          <div class="hex size64">
            <%= image_tag(background_img || 'backgrounds/nil.png', style: 'height: 64px; width: 64px;') %>
          </div>
          <div class="hex size64">
            <% if help_focus_loc == loc %>
              <%= image_tag("backgrounds/selected.png", style: 'height: 64px; width: 64px;') %>
            <% end %>
          </div>
          <div class="hex">
            <nobr>
              <%= hex %>
            </nobr>
          </div>
          <% if building&.hp %>
            <div class="hex" style="top: 90%;">
              <%= building&.hp %>
            </div>
          <% end %>
          <% if focus  %>
            <% if turn.unit_actionable_locs(your_player, focus).include?(loc) %>
              <div class="hex size64">
                <%= image_tag("backgrounds/unit_actionable.png", style: 'height: 64px; width: 64px;') %>
              </div>
              <div class="hex text-nowrap" style="font-size: 16px;">
                <%= UnitAction.reason(turn.game, focus, loc).japanese %>
              </div>
            <% end %>
          <% end %>

          <% if menu_actionable_locs.include?(loc) %>
            <div class="hex" style="font-size: 32px;">
              <%= image_tag("backgrounds/menu_actionable.png", style: 'height: 64px; width: 64px;') %>
            </div>
            <div class="hex text-nowrap" style="font-size: 16px;">
              <%= menu_action_focus.japanese %>
            </div>
          <% end %>

          <!--
            <nobr>
            <%= [x, y] %>
            </nobr>
          -->
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-4 order-3">
    <div class="container">
      ターン <%= turn.num %>
    </div>

    <% if your_player %>
      <div class="container">
        <h5><%= your_player.japanese %></h5>
        <ul class="list-group">
          <li class="list-group-item">
            資源:
            <%= turn.game.resources[your_player.id].values.map { _1.view }.join('') %>
          </li>
          <% menu_actionable_actions = turn.menu_actionable_actions(your_player) %>
          <li class="list-group-item">
            <% MenuActions.at(turn.game, your_player).each do |k, v| %>
              <div class="row align-items-start">
                <div class="col">
                  <% available = menu_actionable_actions.key?(k) %>
                  <button
                      data-bs-toggle="button"
                      class="btn <%= available ? 'btn-secondary' : 'btn-outline' %> <%= 'active' if menu_action_focus&.id == k %>"
                      <%= 'disabled' if !available %>
                      onclick="live.forward('world', {type: 'menu', menu: '<%= k %>'});">
                    <nobr><%= v.japanese %></nobr>
                  </button>
                </div>
                <div class="col">
                  <small>
                    <% v.cost.each do |k, amount| %>
                      <%= PlayerResource.new(resource_id: k, amount: amount).view %>
                    <% end %>
                  </small>
                </div>
              </div>
            <% end %>
          </li>
          <li class="list-group-item">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button
                  class="btn btn-secondary"
                  <%= 'disabled' if completed[your_player] || turn.game.winner %>
                  onclick="live.forward('world', {type: 'complete'});">
                <nobr>
                  ターン終了↵
                </nobr>
              </button>
            </div>
          </li>
        </ul>
      </div>
    <% end %>

    <div class="container">
      <h5>Debug</h5>
      <input class="btn btn-secondary" type="submit"
             value="Autoplay all"
             onclick="live.forward('world', {type: 'autoplay_all', clientX: event.clientX, clientY: event.clientY});">
      <input class="btn btn-secondary" type="submit"
             value="Reset (要リロード)"
             onclick="live.forward('world', {type: 'reset', clientX: event.clientX, clientY: event.clientY});">
    </div>

    <div class="container">
      <h5>メッセージ</h5>
      <ul class="list-group">
        <% turn.messages.each do |m| %>
          <li class="list-group-item">
            <%= m %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
