<% def image_tag(*); ActionController::Base.helpers.image_tag(*); end %>
<script>
  document.addEventListener('keyup', function(event) {
    if (event.key === 'Enter') {
      if (document.getElementById('operation_completed_of_you').value === 'false') {
        live.forward('world', {type: 'key_enter'});
      }
    } else if (event.key === 'Escape') {
      live.forward('world', {type: 'key_esc'});
    }
  });
</script>

<% if your_player %>
  <input type="hidden" id="operation_completed_of_you" value="<%= operation_completed[your_player.id] ? 'true' : 'false' %>">
<% end %>

<% if false %>
<div style="position: absolute; top: <%= click_location[:y] %>px; left: <%= click_location[:x] %>px; height: 2px; width; 2px; border: solid 3px red;"></div>
<% end %>

<% your_base = turn.game.world.buildings.base(your_player.id) if your_player %>
<% menu_actionable_locs = menu_action_focus ? turn.menu_actionable_actions(your_player).fetch(menu_action_focus.id, []) : [] %>
<div class="row">
  <div class="col-md-4 order-md-1 col-12 order-4">
    <p>
    <% if your_player %>
      あなたは<strong><%= your_player.japanese %></strong>としてプレイしています。
    <% else %>
      観戦モード
    <% end %>
    </p>
    <small>
      <p>
        Human vs Pestは現在絶賛開発中です。
        なんか挙動がおかしいときはキャッシュの可能性があり、試しにブラウザをリロードしてください。
      <p>

      <p>
      初めてプレイする方へ: マップ上のいろんなものをクリックしてみてください。ヘルプがでます。
      Escapeキーとかで閉じれます。
      </p>
      <p>
      六角形のマス目の端っこはクリック判定がないので真ん中の方を押してみてください。(TODO: 修正予定)
      </p>
    </small>

    <hr>

    <% if help_focus_loc %>
      <% if b = turn.game.world.buildings.at(help_focus_loc) %>
        <div class="container">
          <h5>建物</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <%= b.view %>
              <% if b.hp %>
                HP: <strong><%= b.hp %></strong>
              <% end %>
            </li>
            <li class="list-group-item">
              <%= b.desc %>
            </li>
            <li class="list-group-item">
              陣営: <%= b.player&.japanese || 'なし' %>
            </li>
            <% if b.hp %>
              <li class="list-group-item">
                HP: <%= b.hp %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if !your_player %>
        <!-- 観戦モードではユニットの情報は表示しない -->
      <% elsif u = turn.game.world.unitss[your_player.id].find { _1.loc == help_focus_loc } %>
        <div class="container">
          <h5>ユニット</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <%= u.player.emoji %>
              HP:
              <strong>
              <%= u.hp %> / <%= u.max_hp(turn.game.world) %>
              </strong>
              (拠点からの移動距離:
              <%= turn.game.world.move_distance(your_player.id, your_base.loc, u.loc) %>)
            </li>
            <li class="list-group-item">
              <small>
                外を歩くたびにHPが1ずつ減ります。
                <ul>
                  <li>自陣営の建設物 <small>(例: 拠点・農地・小道・バリケードなど)</small> の上では減りません。</li>
                  <li>移動だけ死亡することはありません。最低でもHP 1残ります。</li>
                </ul>
                拠点の上でターンを完了することで、HPが4回復します。
              </small>
            </li>
          </ul>
        </div>
      <% end %>

    <% elsif menu_action_focus %>
      <div class="container">
        <h5>メニュー</h5>
        <ul class="list-group">
          <li class="list-group-item">
            <p>
              <%= menu_action_focus.japanese %>
            </p>
            <p>
              <%= menu_action_focus.description %>
            </p>
          </li>
          <li class="list-group-item">
            消費する資源:
            <% menu_action_focus.cost.each do |k, amount| %>
              <%= PlayerResource.new(resource_id: k, amount: amount).view %>
            <% end %>
          </li>
          <li class="list-group-item">
            対象:
            <% case menu_action_focus.location_type
               when :unit %>
              自陣のいずれかのユニットの位置
            <% when :base %>
              自拠点 (ただしユニットがその位置にいない場合に限る)
            <% when :bomb %>
              設置積みの爆弾
            <% else %>
              (TODO: 説明文が未実装です)
            <% end %>
          </li>
          <li class="list-group-item">
            <small>
            <p>
            右のメニューにある行動リストは、あなたの所有している資源を消費するかわりに、ユニットの行動に関わらず任意のタイミングで発動できます。
            </p>
            <p>
            対象となる位置を指定してください。
            </p>
            </small>
          </li>
        </ul>
      </div>
    <% else %>
      <% enemy_base = turn.game.world.buildings.base(your_player.opponent.id) if your_player %>
      <p>このゲームの目的は、自分の拠点 <%= your_base&.view %> を守りつつ、相手の拠点 <%= enemy_base&.view%> を破壊することです。</p>
      <p>
      マップ上の未行動のユニット <small>(アイコンに*マークがついています)</small> を選択するか、右のメニューから行動を選択してください。
      </p>
      <ul>
        <li>ユニットの行動は、各ユニットごとに1回のみです</li>
        <li>メニューの行動は、条件を満たしていれば何度でも行えます</li>
      </ul>

      <p>
      なければターン終了ボタンを押すか、エンターキーを押してください。
      </p>

      <p>
      ターン終了時に、隣接している敵ユニットにお互いに<strong>攻撃</strong>を与えます。
      <ul>
        <li>この処理は自動で行われます。</li>
        <li>ダメージは最大3です。HPが0になったユニットは死亡します。</li>
        <li>ヒント: 自分よりHPの低い敵ユニットには、どんどん近づいてみましょう</li>
      </ul>
      </p>
    <% end %>
  </div>

  <div class="col-md-4 col-8 order-2"
       oncontextmenu="live.forward('world', {type: 'rightclick'}); return false;"
       >
    <% if winner = turn.game.winner %>
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 64px; z-index: $zindex-modal;">
        <%= Player.find(winner).japanese %>の勝ち

      </div>
    <% end %>
    <% if notify_turn_next %>
      <div style="position: absolute; top: 30%; left: 50%; transform: translate(-30%,-50%); font-size: 64px; z-index: $zindex-modal">
        ターン <%= turn.num %>
      </div>
    <% end %>

    <% hexes_view.each_with_index do |hexes_y, y| %>
      <% hexes_y.each_with_index do |hex, x| %>
        <% loc = Location.new(x, y) %>
        <% building = turn.game.world.buildings.at(loc) %>
        <% background_img = building&.background_img %>
        <% padding_top = x.even? ? 64*y : 64*y + 32 %>
        <% padding_left = 48*x %>
        <div style="pointer-events: none; position: absolute; height: 64px; width: 64px; margin: <%= padding_top %>px <%= padding_left %>px 0px; user-select: none;"
             >
          <div
            class="hex"
            style="pointer-events: auto; height: 48px; width: 32px;"
            onclick="window.event = event; live.forward('world', {type: 'click', x: <%= x %>, y: <%= y %>, clientX: event.clientX, clientY: event.clientY, offsetX: event.offsetX, offsetY: event.offsetY});"
            >
          </div>
          <div class="hex size64">
            <%= image_tag(background_img || 'backgrounds/nil.png', style: 'height: 64px; width: 64px;') %>
          </div>
          <div class="hex size64">
            <% if help_focus_loc == loc %>
              <%= image_tag("backgrounds/selected.png", style: 'height: 64px; width: 64px;') %>
            <% end %>
          </div>
          <div class="hex text-nowrap">
            <%= hex %>
          </div>
          <% if unit = turn.game.world.unitss.values.flatten(1).find { _1.loc == loc } %>
            <div class="hex" style="z-index: 1;">
              <%= image_tag("#{unit.player_id}.png", style: 'height: 32px; width: 32px;') %>
            </div>
          <% end %>
          <% if turn.actionable_units.values.flatten(1).map(&:loc).include?(loc) %>
            <div class="hex size64">
              *
            </div>
          <% end %>
          <div class="hex text-nowrap">
            <%= hex %>
          </div>
          <% if building&.hp %>
            <div class="hex" style="top: 90%;">
              <%= building&.hp %>
            </div>
          <% end %>
          <% if focus  %>
            <% if turn.unit_actionable_locs(your_player, focus).include?(loc) %>
              <div class="hex">
                <%= image_tag("backgrounds/unit_actionable.png", style: 'height: 48px; width: 48px;') %>
              </div>
              <div class="hex text-nowrap" style="font-size: 16px;">
                <%= UnitAction.reason(turn.game, focus, loc).japanese %>
              </div>
            <% end %>
          <% end %>

          <% if menu_actionable_locs.include?(loc) %>
            <div class="hex">
              <%= image_tag("backgrounds/menu_actionable.png", style: 'height: 48px; width: 48px;') %>
            </div>
            <div class="hex text-nowrap" style="font-size: 16px;">
              <%= menu_action_focus.japanese %>
            </div>
          <% end %>

          <!--
            <nobr>
            <%= [x, y] %>
            </nobr>
          -->
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-4 order-3">
    <div class="container">
      ターン <%= turn.num %>
    </div>

    <% if your_player %>
      <div class="container">
        <h5><%= your_player.japanese %></h5>
        <ul class="list-group">
          <li class="list-group-item">
            資源:
            <% resources = turn.game.resources[your_player.id].values %>
            <%= resources.sum(&:amount) == 0 ? 'なし' : resources.map { _1.view }.join('') %>
          </li>
          <% menu_actionable_actions = turn.menu_actionable_actions(your_player) %>
          <li class="list-group-item">
            <% MenuActions.at(turn.game, your_player).each do |k, v| %>
              <div class="row align-items-start">
                <div class="col">
                  <% available = menu_actionable_actions.key?(k) %>
                  <button
                      data-bs-toggle="button"
                      class="btn <%= available ? 'btn-secondary' : 'btn-outline' %> <%= 'active' if menu_action_focus&.id == k %>"
                      <%= 'disabled' if !available %>
                      onclick="live.forward('world', {type: 'menu', menu: '<%= k %>'});">
                    <nobr><%= v.japanese %></nobr>
                  </button>
                </div>
                <div class="col">
                  <small>
                    <% v.cost.each do |k, amount| %>
                      <%= PlayerResource.new(resource_id: k, amount: amount).view %>
                    <% end %>
                  </small>
                </div>
              </div>
            <% end %>
          </li>
          <li class="list-group-item">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button
                  class="btn btn-secondary"
                  <%= 'disabled' if operation_completed[your_player.id] || turn.game.winner %>
                  onclick="live.forward('world', {type: 'operation_complete'});">
                <nobr>
                  ターン終了↵
                </nobr>
              </button>
            </div>
          </li>
        </ul>
      </div>
    <% end %>

    <div class="container">
      <h5>Debug</h5>

      <div class="form-check">
        <input
            onclick="live.forward('world', {type: 'enable_autoplay', checked: this.checked});"
            <%= you_autoplay ? 'checked' : '' %>
            class="form-check-input" type="checkbox" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          以後ずっとAIに任せる
        </label>
      </div>

      <% if Rails.env.development? %>
        <input class="btn btn-secondary"
               type="submit"
               value="このターンをAIに任せる"
               onclick="live.forward('world', {type: 'oneshot_autoplay', clientX: event.clientX, clientY: event.clientY}); return false;">
        <input class="btn btn-secondary"
               type="submit"
               value="デバグ用、ユニットの再行動 & HP全快"
               onclick="live.forward('world', {type: 'debug_unit_actionable_again', clientX: event.clientX, clientY: event.clientY}); return false;">
      <% end %>

      <input class="btn btn-secondary"
             type="submit"
             value="Reset (要リロード)"
             onclick="live.forward('world', {type: 'reset', clientX: event.clientX, clientY: event.clientY}); return false;">
    </div>

    <div class="container">
      <h5>メッセージ</h5>
      <ul class="list-group">
        <% turn.messages.each do |m| %>
          <li class="list-group-item">
            <%= m %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
