<h1>ゲームを開始</h1>

<%= form_with(model: @game_match) do |form| %>
  <% if @game_match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@game_match.errors.count, "error") %> prohibited this @game_match from being saved:</h2>

      <ul>
        <% @game_match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="alert alert-primary" role="alert">
    名前として空欄を設定すると、AIが担当します。
  </div>

  <div>
    <%= form.label :human_you_name, '人間側のプレイヤの名前', style: "display: block" %>
    <%= form.text_field :human_you_name, value: session[:you] %>
  </div>

  <div>
    <%= form.label :pest_you_name, '害虫側のプレイヤの名前', style: "display: block" %>
    <%= form.text_field :pest_you_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to games", game_matches_path %>
</div>
